node_modules
.env
*.env
*.local
test
tests
__tests__
coverage
docs
example
examples
*.log
*.tsbuildinfo
*.swp
*.swo
*.idea
*.vscode
.DS_Store
npm-debug.log*
src/**/*.ts
src/**/*.tsx
.git
.github
.gitignore
.gitlab-ci.yml